node_modules
.bun
.turbo
.DS_Store
*.log
*.tsbuildinfo
apps/*/dist
.astro
packages/*/dist
.env
.env.local
build/
.logs/
release/
.t3
.idea/
apps/code/.playwright
apps/code/playwright-report
apps/code/src/components/__screenshots__
apps/chat/.playwright
apps/chat/playwright-report
apps/chat/src/components/__screenshots__
.vitest-*
__screenshots__/
apps/code/src-tauri/target
apps/chat/src-tauri/target
target/
